.disc1 {
  background: lightblue;
  border-radius: 40px;
  width: 50px;
  height: 50px;
}

.disc2 {
  background: lightblue;
  border-radius: 40px;
  width: 150px;
  height: 50px;
}

.disc3 {
  background: lightblue;
  border-radius: 40px;
  width: 250px;
  height: 50px;
}

.hanoi {
  display: flex;
  justify-content: space-around;
}

.hanoi ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 210px;
}

.hanoi li {
  margin-top: 20px;
  margin: auto;
}

.underline {
  width: 250px;
  height: 10px;
  background: black;
}

.hanoi ul:hover .underline {
  background: blue;
}